.introjs-overlay {
  position: absolute;
  z-index: 999999;
  background-color: #000;
  opacity: 0;
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.introjs-fixParent {
  z-index: auto !important;
}

.introjs-showElement {
  z-index: 9999999 !important;
}

.introjs-relativePosition {
  position: relative;
}

.introjs-helperLayer {
  position: absolute;
  z-index: 9999998;
  background-color: #FFF;
  background-color: rgba(255,255,255,.9);
  border: 1px solid #777;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(0,0,0,.4);
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.introjs-helperNumberLayer {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 9999999999 !important;
  padding: 2px;
  font-family: 'Open Sans',Arial, verdana, tahoma;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: #f15a24;
  width: 24px;
  height:24px;
  line-height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.introjs-arrow {
  border: 5px solid white;
  content:'';
  position: absolute;
}
.introjs-arrow.top {
  top: -10px;
  left: 20px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:white;
  border-left-color:transparent;
}
.introjs-arrow.right {
  right: -10px;
  top: 20px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:white;
}
.introjs-arrow.bottom {
  bottom: -10px;
  left: 20px;
  border-top-color:white;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
}
.introjs-arrow.left {
  left: -10px;
  top: 20px;
  border-top-color:transparent;
  border-right-color:white;
  border-bottom-color:transparent;
  border-left-color:transparent;
}

.introjs-tooltip {
  position: absolute;
  background-color: white;
  min-width: 300px;
  max-width: 420px;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
  -webkit-transition: opacity 0.1s ease-out;
     -moz-transition: opacity 0.1s ease-out;
      -ms-transition: opacity 0.1s ease-out;
       -o-transition: opacity 0.1s ease-out;
          transition: opacity 0.1s ease-out;
}

.introjs-tooltipbuttons {
  text-align: right;
  padding: 10px;
  background: #f6f6f6;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.introjs-button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 0;
  text-decoration: none;
  font: 12px/normal "Open Sans", Tahoma, arial, sans-serif;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #a6a6a6;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.introjs-button:hover {
  text-decoration: none; 
  background: #5abada;
  color: #FFFFFF;
}

.introjs-skipbutton.introjs-donebutton,
.introjs-button:focus,
.introjs-button:active{
  background: #009acd;
  color: #fff;
}
    .introjs-skipbutton.introjs-donebutton:hover,
    .introjs-button:active:hover,
    .introjs-button:focus:hover{
        background-color: #5abada;
        color: #fff;
    }

/* overrides extra padding on button elements in Firefox */
.introjs-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.introjs-skipbutton {
  margin-right: 8px;
  background: #a6a6a6;
  color: #fff;
}
    .introjs-skipbutton:hover{
        background: #bebebe;
    }
.introjs-prevbutton {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
    border-right: 1px solid #d1d1d1;
}

.introjs-nextbutton {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus, .introjs-disabled:active,.introjs-disabled:focus:hover, .introjs-disabled:active:hover{
    background: #e0e0e0;
    color: #898989;
    cursor: default;
}

.introjs-tooltiptext{
    font-size: 13px;
    line-height: 1.5em;
    color: #333;
    padding: 15px;
    overflow: hidden;
}
    .introjs-tooltiptext .title{
        color: #f15a24;
        font-size: 15px;
        margin: 0 0 10px 0;
    }
    
    .introjs-tooltiptext .guide-link{
        float: right;
        margin-top: 10px;
        display: inline-block;
        color: #609dbd;
    }
        .introjs-tooltiptext .guide-link:hover{
            color: #f15a24;
        }