/*CSS for VNG9 PAGE*/
.page-body .container{     width: 980px; margin: 0 auto; position: relative;}

.page-body .col-left{
    width: 50px;
}

.page-body .col-right{
    margin-left: 50px;
    background: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.page-body .col-right .main-content{
    background: #fff;
    margin: 0;
    border: none;  
}
   
.page-body .content-wrap{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 640px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ddd;
    border-top: none;
    margin: 0 0 0 140px;
}
    .page-body .content-wrap.count-down .event-end{
        position: relative;
        top: 1px;
    }
    .page-body .content-wrap.count-down .event-end,
    .page-body .content-wrap.count-down .event-end img{
        border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }
    .page-body .content-wrap.count-down{    margin-top: -46px; min-height: 0;}
    .page-body .content-wrap.count-down h3{    color: #737374; font-size: 16px; font-weight: normal; text-align : center; padding : 18px 0; }
        .page-body .content-wrap.count-down h3 strong{    color: #f15a24; }
    
    /*Page Cover Heading*/
    .page-cover .group-title{    width: 640px; margin: 0 auto 0 140px; text-align: center; color: #fff; font-size: 36px; line-height: 1.4em; font-weight: normal; text-shadow: 0 2px 3px rgba(0,0,0,0.7);}
        .page-cover .group-title strong{ display: block; font-size: 60px;}
    .page-cover{
        height: 300px;
        position: relative;
        background: #f15f22 url('../images/bg-cover-vng9.jpg') repeat-x center bottom;
    }
        .page-body .page-cover .content{    min-height: 0; padding-top: 80px;}
        .page-cover img{    display: none; }
/* @group Counter */
#counterWrap{    text-align: center; border-bottom: 1px solid #ddd;padding-bottom: 20px; height: 104px;}
    #counterWrap canvas{    margin: 0 auto; }
/* @end */

/*Banner Call add Hashtag*/
.call-add-hashtag{    background: transparent url('../images/call-add-hashtag.png') no-repeat left top; width: 143px;height: 97px; display: block; position: absolute; left : 15px; top : 240px; margin-left : 0px; }

hr{    background : transparent url('../images/hr-bg.png') repeat-x left center; border : 0; height : 33px; margin : 15px 0; position : relative; }
    hr:after{    content: ''; background: transparent url('../images/hr-vng.png') no-repeat center center; width: 34px; height: 33px; display: block;margin: 0 auto; position : relative; left: -30px;}

.post-util{    bottom : 13px; }
.post-tweet .form-wrap{    margin-bottom: 0;}


/* @group EVENT INFO */
.event-info{    width: 194px; font-size: 12px; position: relative;float: right;}
    .event-info .block{    padding-right: 0;}
    .event-info .block:first-of-type{    padding-top: 0; }
    .event-info .block .block-title{    line-height: 24px; }
    .event-info .block .icn{    background: transparent url('../images/icon-sprites-events.png') no-repeat left top; display: inline-block;float: left; margin-right: 5px;}
        .event-info .block .icn.icn-time{    width: 20px; height: 20px; background-position: 0 0;}
        .event-info .block .icn.icn-place{    width: 12px; height: 20px; background-position: -21px 0;}
        .event-info .block .icn.icn-blogpost{    width: 14px; height: 20px; background-position: -34px 0;}
        
    .event-info .block h4{    font-size: 14px;color: #16aace;margin-bottom: 5px;}

    .event-info .event-place{    overflow: hidden; }    
    .event-info .event-place .icon-chervon-right{    background-position: -198px -40px; }
    .event-info .event-place a{     float: right;}
    .event-info .event-place a:hover{    text-decoration: underline; color: #f15a24;}
    
    .event-info .event-blogpost li{     margin-bottom: 7px;}
    .event-info .event-blogpost li:last-child{    margin-bottom: 0; }
        .event-info .event-blogpost li a{    color: #16aace;}
        .event-info .event-blogpost li a:hover{    color: #f15a24;}
        
.event-info.fixed{    top: 70px; right: 50%; margin-right: -490px;position: fixed;}
/* @end */

/*Tweet Content*/
.page-body .content.content-wrap.tweet-content{    margin-top: 0;}
    
    .stream-head{
        height: 45px;
        background: #f2f4f5 url('../images/bg-stream-head-1.00.png') repeat-x left bottom;
        border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        padding: 0;
        border-bottom: 1px solid #ddd;
        overflow: visible;
    }
    .stream-head .sort-tweet li{
        height: 43px;
        margin: 0;
        border-right: 1px solid #ddd;
        line-height: 43px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        -webkit-transition: 0.15s ease-in;  
        -moz-transition: 0.15s ease-in;  
        -o-transition: 0.15s ease-in;  
        transition: 0.15s ease-in;
        width: 25%;
    }
        .stream-head .sort-tweet li:first-child,
        .stream-head .sort-tweet li:first-child a{
            border-radius: 4px 0 0 0;
            -moz-border-radius: 4px 0 0 0;
            -webkit-border-radius: 4px 0 0 0;
        }
        .stream-head .sort-tweet li:last-child{
            border-right: 0;
        }
        .stream-head .sort-tweet li a{
            padding: 0 28px;
            background: none;
            color: #666;
            border-top: 3px solid #f2f4f5;
            display: block;
            text-align: center;
        }
            .stream-head .sort-tweet li:last-child,
            .stream-head .sort-tweet li:last-child a{
                border-radius: 0 4px 0 0;
                -moz-border-radius: 0 4px 0 0;
                -webkit-border-radius: 0 4px 0 0;
            }
    
    .stream-head .sort-tweet li:hover{
        background: #fff;
    }    
        .stream-head .sort-tweet li:hover a{
            color: #666;
            border-top: 3px solid #ffbe85;
        }
        
    .stream-head .sort-tweet .active:hover,    
    .stream-head .sort-tweet .active{
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }
        .stream-head .sort-tweet li.active a,
        .stream-head .sort-tweet .active:hover a,
        .stream-head .sort-tweet .active a{
            border-top: 3px solid #ff800f;
            color: #f15a24;
            background-image: none;
        }
        
.page-body .main-content .block.hot-today{
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}
    .page-body .main-content .block.hot-today li{
        margin-right: 10px;
    }
    .page-body .main-content .block.hot-today li a{
        font-size: 14px;
        padding: 6px 10px;
    }
/*User info*/
#user-info{
    position: relative;
    margin-left: -25px;
    width: 64px;
    z-index: 5;
    padding: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.post-tweet{
    margin-left: 0;
}
#user-info .display-name,
#user-info .user-acc{
    display: none;
}
#user-info .avatar{
    -moz-box-shadow: -1px 0 3px #B7B7B7;
    -webkit-box-shadow: -1px 0 3px #B7B7B7;
    box-shadow: -1px 0 3px #B7B7B7;
}

.home-nav{
    margin-top: 70px;
    right: 8px;
}

.home-nav li .noti-badge,
.home-nav li a{
    font-size: 0;
    text-indent: -9999px;
    line-height: 0;
}
.home-nav li{
    position: relative;
}
.home-nav li a{
    display: block;
}
.home-nav li .noti-badge{
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    padding: 0;
    position: absolute;
    top: 4px;
    right: 10px;
    z-index: 3;
}
/*Tweet photo*/
.tweet .photo-content{
    width: 568px; /*Ti le 3:2*/
}

.tweet .photo-content,
.tweet .photo-content img{
    max-width: 572px;
    max-height: 365px;
    display: block;
}

.tweet .retweet-content .photo-content{
    width: 572px;
    max-height: 365px;
    background: url("../images/bg-rt-media-content.png") repeat scroll left top transparent;
}

.tweet .photo-content.multi-photo{
    padding-left: 50px;
}
    .tweet .retweet-content .photo-content.multi-photo{
        max-height: none;
    }
    .tweet .photo-content.multi-photo.thumbs-2,
    .tweet .photo-content.multi-photo.thumbs-4{
        padding-left: 90px;
    }

/*Block Hashtag's Retated News */
.related-news{
    margin-right: 20px;
}
.related-news .news-thumb{
    border: 1px solid #ddd;
    width: 66px;
    height: 66px;
    display: block;
    overflow: hidden;
    background: #f0f0f0 url('../images/ajaxloading.gif') no-repeat center center;
    float: left;
    margin: 0 10px 5px 0 ;
}
.related-news .news-thumb img{
    width: 62px;
    height: 62px;
    border: 2px solid #f9f9f9;
    -webkit-transition: 0.3s ease-in;  
    -moz-transition: 0.3s ease-in;  
    -o-transition: 0.3s ease-in;  
    transition: 0.3s ease-in;
    outline: none;
}

.related-news .news-thumb:hover img{
    border-color: #f15a24;
}

.related-news .news-title,
.related-news .news-title a{
    font-size: 16px;
    line-height: 1.15em;
    color: #466b8e;
    font-weight: normal;
    margin-bottom: 10px;
}

.related-news .news-title a:hover{
    color: #f15a24;
}

.related-news .chapo{
    font-size: 12px;
    line-height: 1.25em;
    color: #333;
    margin-bottom: 7px;
}

.related-news .re-tweet{
    margin: 0;
}

.related-news .read-more{
    font-size: 11px;
    color: #466b8e;
}

.related-news .read-more:hover{
    color: #f15a24;
}

.related-news .read-more:hover .icon{
    background-position: -199px -40px;
}


/*Thanh Vien hay binh luan*/
.top-cmt-users{

}

.col-right .list-user li{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.col-right .list-user .avatar,
.col-right .list-user .avatar img{
    width: 46px;
    height: 46px;
}

/*Banner for non-login user*/
.non-login_user{
    background: #f1f9fa;
    border: 1px dashed #afcdd8;
    padding: 20px 15px;
    margin: 20px 20px 20px 20px;
    overflow: hidden;
}
.non-login_user .call-to-action{
    position: relative;
    top: 4px;
    padding-left: 10px;
}

.non-login_user .call-to-action,
.non-login_user .current-topic{
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.non-login_user .call-to-action span{
    font-size: 12px;
    margin: 0 10px;
}

.non-login_user .current-topic{
    font-size: 12px;
    color: #737373;
    padding-left: 15px;
    line-height: 36px;
}

.non-login_user .current-topic .topic-name{
    font-weight: bold;
    font-size: 16px;
    color: #466b8e;
}

.top-cmt-users ul{
    overflow: hidden;
}

.btn.btn-showmore, .btn-showmore{
    width: auto;
    display: block;
}

.back2top{
    bottom: 113px;
    margin-left: 227px;
}

.back2top:hover{
    margin-left: 312px;    
}

/* Smaller screens */
/* ===== == = === 63.9375em (1023px) === = == ===== */
@media only screen and (max-width: 63.9375em) {    
    #globalUserControl .list-settings{
        right: 0;
    }
    #globalUserControl .list-settings .list-anchor{
        right: 10px;
    }
    
    /*Back to top button*/
    .back2top{
        width: 30px;
        height: 30px;
        padding: 0px;
        border-radius: 40px;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
        font-size: 0;
        line-height: 0px;
        position: fixed;
        bottom: 60px;
        left: 50%;
        margin-left: 450px;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none; 
        transition: none;
        z-index: 10;
        display: none;
        box-shadow: 0px 1px 2px #444;
    }
        .back2top .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
        }
    .back2top:hover{
        margin-left: 450px;
    }
}


